*{
	box-sizing:border-box;
	transition-duration: .3s;
	animation: fadeIn .3s;
}
.w100{
	width: 100%;
	text-align: center;
	margin-bottom: 1em;
}
.gray-text{
	color: gray;
}
.tiny-text{
	font-size: .8em;
}
@keyframes fadeIn{
	from{opacity: 0}
	to{opacity: 1}
}
@keyframes fadeInHeight{
	from{height: 0}
	to{height: auto}
}
iframe{
	max-height: 90vh;
	max-width: 100%;
}
body{
	width: 100vw;
	position: static;
	overflow-x: hidden;
	font-family:'Century Gothic';
	margin:0;
}
.flexer{
	display: flex;
	flex-wrap: wrap;
}
.cover{
	width: 100%;
	max-height: 40vh;
	object-fit: cover;
	background-color: rgb(0,0,0);
	filter: grayscale(50%);
}
.course-info{
	width: 60%;
	padding: 1.5em;
	font-size: 1.5em;
}
.course-videos{
	width: 40%;
	padding: 2em;
	max-height: 100vh;
	background-color: #ddf;
	overflow-y: auto;
}
.course-videos img{
	width: 100%;
	object-fit: cover;
}
.course-videos div{
	padding: 1em;
	cursor: pointer;
}
@media(max-width: 800px){
	.course-info{
		width: 100%;
	}
	.course-videos{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	.flexer{
		flex-direction: column;
	}
}
.navigation-bar{
	background-color:rgb(28,117,188);
	position:relative;
	color:white;
	font-size:1.3em;	
	height: 10vh;
}
.navigation-bar div{
	position: relative;
	display: flex;
	justify-content: flex-end;
}
.navigation-bar div a{
	display: flex;
	align-items: center;
	margin-right: 1em;	
	padding-right: 1em;	
	padding-left: 1em;	
	height: 10vh;
}
.navigation-bar div a:hover{
	background-color: rgb(247,147,29);
}
.navigation-bar .fa-bars{
	display: none;
}
@media(max-width: 800px){
	.navigation-bar div{
		transition-duration: .2s;
		flex-direction: column;
		position: fixed;
		top: 10vh;
		left: 0;
		background-color:rgba(28,117,188,.9);
		z-index: 999999;
		width: 100vw;
		margin-left: -100%;
		text-align: center;
		align-items: center;
		justify-content: space-around;
		height: 90vh;
	}
	.navigation-bar.top div{
		margin-left: 0%;
	}
	.navigation-bar .fa-bars{
		display:inline-block;
		position: relative;
		left: 1vh;
		top: 1vh;
		font-size: 8vh;
		cursor: pointer;
	}
	.navigation-bar div a{
		flex-grow: 1;
		width: 100vw;
		text-align: center;
		text-decoration: none;
		justify-content: space-around;
	}
}
a{
	color:inherit;
}
h2{
	width:80%;
	margin-left: 10%;
}
iframe{
	border:none;
	width:100vw;
	height:56.2vw;
}
.comments{
	padding:3em;
	padding-top:1em;
	font-size:1.5em;
}
@media(max-width:599px){
	.comments{
		padding:1em;
	}
}
.comments div:not(.loading),.comments input,.comments button{
	padding:.5em;
	margin-bottom:1em;
	font-size:.8em;
	box-shadow:5px 5px 10px silver;
	animation:ffl 1s ease-in-out;
}
.comments input,.comments button{
	display:block;
	width:100%;
}
@keyframes ffl{
	from{margin-left:-50vw;opacity:0}
	to{margin-left:0;opacity:1}
}
#root{
	height: 90vh;
	position: fixed;
	top: 10vh;
	left: 0;
	overflow-y: auto;
	width: 100%;
	overflow-x: hidden;

}
#root > section{
	background-color:white;
	color:#333;
	height: 100%;
	width: 100%;
	position: relative;
	left: 0;
}
#root > section > section{
	width: 100%;
}
#login{
	position:relative;
	top: 50%;
	left: 50%;
	transform: translate( -50% , calc( -50% - 5vh )); 
	display: inline-block;
	border: 5px solid rgb(28,117,188);
	padding: 2em;
	font-size: 1.2em;
}
#login input{
	padding: .25em;
	font-size: 1.2em;
	display: block;
	width: 100%;
	margin-bottom: 1.5em;
	border: 3px solid #ddd;
}
#login input[type="submit"]{
	background-color: #ddd;
	cursor: pointer;
}
#login input:focus{
	border: 3px solid rgb(247,147,29);
}
.gray{
	font-weight: normal;
	font-size: .8em;
	color:gray;
}
.loading{
	display:inline-block;
	padding: 1em;
	animation:load-dots 1s infinite;
}
.dashboard{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.dashboard footer{
	width: 100%;
	background-color: #333;
	color:white;
	padding: .7em;
	font-size: 1.5em;
}
#back:hover{
	opacity: 1;
}
#back{
	z-index: 99999;
	cursor: pointer;
	position: fixed;
	left: 0;
	top: 10vh;
	padding: .5em;
	background-color: rgb(28,117,188);
	color:#fff;
	font-size: 1.3em;
	opacity: .3;
}
.dashboard h1{
	width: 100%;
	text-align: center;
}
.light-link{
	color: rgb(28,117,188);
	margin-left: .5em;
	cursor: pointer;
	text-decoration: none;
}
.light-link:hover{
	text-decoration: underline;
}
.course-prop:hover{
	text-decoration: underline;
}
.course-prop{
	cursor: pointer;
	width: 30%;
	overflow: hidden;
	margin-bottom: 1em;
	padding: 1em;
	position: relative;
	box-shadow: 5px 5px 10px gray;
}

@media(max-width: 800px){
	.course-prop{
		width: 100%;
	}
	.course-prop img{
		object-fit: cover;
		max-height: 40vw;
	}
}
.course-prop img{
	width: 100%;
}
@keyframes load-dots{
	0%{opacity:.7;transform:scale(1.5)}
	50%{opacity:1;transform:scale(1)}
	100%{opacity:.7;transform:scale(1.5)}
}
@keyframes rotate{
	from{transform: rotate(360deg);}
	to{transform: rotate(0deg);}
}
.big-load{
	position: relative;
	height: 89vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.big-load span{
	position: relative;
	animation: rotate 1s linear infinite;
}
.big-load img{
	height: 80vmin;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.big-load h3{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	color: rgba(28,117,188,.3);
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	font-size: 10vw;
}
.clear{
	width: 100%;
	position: relative;
}
.buy{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 1em;
	font-size: 2em;
	background-color: rgb(28,117,188);
	color:white;
	text-decoration: none;
	padding: .5em;
	box-shadow: 3px 3px 5px gray;
}
.category{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	position: relative;
	margin-bottom: 1em;
	width: 90%;
	border: 3px solid rgba(28,117,188,.8);
}
.category h3{
	background-color: rgba(28,117,188,.8);
	padding: 1em;
	width: 100%;
	color: white;
	text-align: center;
	margin-top: 0;
	display: flex;
	margin-bottom: 0;
}
.
.category h3 .fa{
	width: 1em;
}
.category h3 span{
	flex-grow: 1;
}
.category.drop div{
	display: block;
}
.category div{
	animation: fadeIn 1s ease-in-out;
	display: none;
	overflow-y: hidden;
	width: 22%;
	position: relative;
	padding: 1em 0em;
}
.category div img{
	width: 100%;
	object-fit: contain;
	border:5px solid rgb(247,147,29);
}
.category div a{
	width: 100%;
	display: block;
	text-align: center;
	background-color: rgba(28,117,188,.8);
	color:white;
	padding: 0em 1em;
	font-size: 1.1em;
}
@media(max-width: 800px){
	.category div{
		width: 90%;
	}
	.category h3{
		padding: .5em;
	}
}

/* video code start */
	#frame{
		background-color: black;
		width: 100%;
		position: relative;
		left: 0;
	}
	#frame #controls{
		color: #eee;
		display: flex;
		position: absolute;
		justify-content: space-between;
		top: 100%;
		width: 100%;
		left: 0;
		transform: translateY(-120%);
		overflow-y: visible;
	}
	#frame #ptotal{
		background-color: rgb(28,117,188);
		border: 1px solid rgb(247,147,29);
		height: 100%;
	}
	#frame #controls i{
		width: 1em;
		font-size: 2.5em;
		min-height:1em;
		background-color: rgba(255,255,255,.1); 
	}
	#frame i.fa{
		margin: 5px;
	}
	#frame #play{
		margin-left: 1em;
	}
	#frame #video{
		max-width:100%;
		height: 90vh;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	#frame{
		position: relative;
	}
	#frame #controls *{
		opacity: 0;
		z-index: 3;
	}
	#frame #controls:hover *{
		opacity: 1;
	}
	#frame #controls:hover #shade{
		display: block;
	}
	#frame #shade{
		display: none;
		z-index: 2;
		position: absolute;
		height: 410%;
		width: 100%;
		top: -300%;
		left: 0;
		background: linear-gradient(180deg,transparent,black);
		animation: fade-in 1s;
	}
	#frame #progress{
		position: absolute;
		width: 100%;
		height: .5em;
		background-color: rgba(255,255,255,.5);
		transform: translateY(-100%);
	}